<?xml version="1.0"?>
<ruleset name="Yoast Test Helper">
    <description>Yoast Test Helper rules for PHP_CodeSniffer</description>

    <file>.</file>

    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>svn-assets/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg value="sp"/>

    <config name="testVersion" value="5.2-"/>

    <rule ref="Yoast">
        <exclude name="Yoast.Files.FileName" />
    </rule>
</ruleset>
